.App {
  text-align: center;
  width: 30%;
  height: 550px;
  margin: auto;
  background-color: #FAF3E3;
  padding: 50px 40px;
  
}

.App button{
  background-color: #FF9F29;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;

}

.App img{
  width: 20%;
}

.App h2, h4{
  margin: 6px;
}
